.coupon-card, 
.company-info-card,
.company-card {
    color:black;
}

.card-image {
    max-width: 50%;
    
    max-height: 300px;
}

.card div{
  max-width:50% ;
}
.company-card-div{
    width: 50%;
    display: flex;
    
}